{% extends "base.html" %} 

{% block head %}
{{ super() }}
<meta charset="utf-8" />
<link rel="stylesheet" href="static/app.css" />
<script src="bower_components/modernizr/modernizr.js"></script>
{% endblock %}

{% block content %}

<div id = "Header" style="text-align: left;">
	<h1> Apps</h1>
</div>

<div class="row">
	<div class="large-9 columns">
		<div class="card">
			<div class="content">
				<span class="title">Robert Frost</span>
				<p> blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah </p>
			</div>

			<div class="action">
				<a href='/flory.html'>Where this leads</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-9 columns">
		<div class="card">
			<div class="image">
				<img src="http://clientes.netvisao.pt/pmariado/flory_1.gif">
				<span class="title"> Flory Huggins </span>
			</div>

			<div class="content">
			</div>

			<div class="action">
				<a href='/flory.html'>Where this leads</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-9 columns">
		<div class="card">
			<div class="image">
				<img src="http://clientes.netvisao.pt/pmariado/flory_1.gif">
				<span class="title"> Flory Huggins </span>
			</div>

			<div class="content">
				<p>lol</p>
			</div>

			<div class="action">
				<a href='/flory.html'>Where this leads</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-9 columns">
		<div class="card">
			<div class="image">
				<img src="http://clientes.netvisao.pt/pmariado/flory_1.gif">
				<span class="title"> Flory Huggins </span>
			</div>

			<div class="content">
				<p>lol</p>
			</div>

			<div class="action">
				<a href='/flory.html'>Where this leads</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}




