{% extends "base.html" %} 

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div id = "Header" style="text-align: left;">
		<h1> Results </h1>
	</div>

	
	<div class="row">
		<h2> {{ value }}</h2>
	</div>

	<br>
	<br>

	<div class = "large-12 columns">
	<table>
	  <thead>
		<tr>
		  <th width="150">Critical Volume Fraction</th>
		  <th width="150">Critical Salt Concentration</th>
		</tr>
	  </thead>
	  <tbody>
			<tr>
				<td> {{ critphi[0] }} </td>
				<td> {{ critphi[1] }} </td>
			</tr>
	  </tbody>
	</table>
	{% endblock %}
