{% extends "base.html" %}
 
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div id = "Header" style="text-align: center;">
		<h1> Flory-Huggins Graph Generator </h1>
	</div>

<div class = "introduction">
	<div class="row">
		<h2> About </h2>
	</div>
	<div class = "row">
	<p>
The primary computational tool for prediction of structural, thermodynamic, and dynamic properties of functional polymers and block polymers must rely on a coarse-grained modeling approach capable of describing the structure and dynamics of soft matter, including block polymers during solvent mediated assembly, both in the bulk and in films.
 
The tools included here, in order of increasing complexity and sophistication, are:</p>
		<ul>
				<li>Flory Huggins polymer mixture phase behavior</li>
				<li>Vorn-Overbeek polyelectrolyte mixture phase behavior</li>
				<li>Generalized-Flory Lattice Cluster Theory for structure polymer phase behavior and glass transition temperature</li>
		</ul>
	
</p>
	</div>
</div>
	<form action="/plot" method="post">
		<div class="row">
			<div class="large-4 columns">
					<label>Monomers of Species A
							<input type="text" name="NFA" placeholder="100" />
					</label>
				</div>
				<div class="large-4 columns">
					<label>Monomers of Species B
							<input type="text" name="NFB" placeholder="100" />
					</label>
				</div>
			</div>
		<div class="row">
			<div class="large-4 columns">
					<label> Chi Value (For Free Energy only)
							<input type="text" name="chivalue" placeholder="0.2" />
					</label>
				</div>
			</div>
		</div>
			<div class="row">
					<div align="center">
						<input class="button" type="submit" name="florybutton" value="Generate!" />
					</div>
			</div>
			<div class="row">
					<div align="center">
						<input class="button" type="submit" name="florybutton" value="Generate Free Energy!" />
					</div>
			</div>
		</form>
	<div>
		<!--
		<br>
		<br>
		<br>
		<div class="row">
			<h2> Free Energy Diagram </h2>
			<p> Plots Enthalpy, Entropy, Free-Energy </p>
		</div>
		<form action="/plotfree" method="post">
		<div class="row">
			<div class="large-4 columns">
				<label>Monomers of Species A
						<input type="text" name="NFA" placeholder="100" />
				</label>
			</div>
			<div class="large-4 column">
				<label> Chi Value
					<input type="text" name="chivalue" placeholder="0.05"/>
				</label>
			</div>
			<div class="large-4 columns">
				<label>Monomers of Species B
						<input type="text" name="NFB" placeholder="100" />
				</label>
			</div>
		</div>
		<div class="row">
				<div align="center">
					<input class="button" type="submit" value="Generate!" />
				</div>
		</div>
	</div>
	</form>
	--!>
	<!--
	<div class="row">
			<div align="center">
				<a href="#" class="button">Generate!</a>
			</div>
	</div>
	--!>
	

{% endblock %}

