{% extends "base.html" %}
 
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div id = "Header" style="text-align: left;">
		<h1> Structure Factor Graph Generator </h1>
	</div>

	<div class = "introduction">
		<div class="row">
		<h2> About </h2>
		</div>
		<div class = "row">
		<p>
The primary computational tool for prediction of structural, thermodynamic, and dynamic properties of functional polymers and block polymers must rely on a coarse-grained modeling approach capable of describing the structure and dynamics of soft matter, including block polymers during solvent mediated assembly, both in the bulk and in films
 
The tools included here, in order of increasing complexity and sophistication, are:</p>
		<ul>
				<li>Flory Huggins polymer mixture phase behavior</li>
				<li>Vorn-Overbeek polyelectrolyte mixture phase behavior</li>
				<li>Generalized-Flory Lattice Cluster Theory for structure polymer phase behavior and glass transition temperature</li>
		</ul>
	
</p>
		</div>
	<form action="/sfplot" method="post">
				<div class="row">
		<fieldset>
			<legend> Input Parameters </legend>
				<div class="row">
					<div class="large-6 columns">
						<label>Number of Monomers A
								<input type="text" placeholder="100" name = "Na" />  
						</label>
					</div>
					<div class="large-6 columns">
						<label>Number of Monomers B
								<input type="text" placeholder="100" name = "Nb" />  
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<label> Effective bond length,A
								<input type="text" placeholder="0.1" name = "Ba" />  
						</label>
					</div>
					<div class="large-6 columns">
						<label> Effective bond length, B
								<input type="text" placeholder="0.1" name = "Bb" />  
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<label> Volume Fraction,A
								<input type="text" placeholder="0.1" name = "phia" />  
						</label>
					</div>
					<div class="large-6 columns">
						<label> Chi Parameter
								<input type="text" placeholder="0.1" name = "chi" />  
						</label>
					</div>
				</div>

				<div align="center">
					<input class="button" type="submit" name = 'sfbutton' value="Generate Plot!" />
				</div>
			</div>
		</div>
				
	</form>
		<br>
		<br>
		<br>
</div>
<!-- Added jQuery at the End --!>
{% endblock %}
