{% extends "base.html" %}
 
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}


	<div id = "Header" style="text-align: left;">
		<h1>Generalized-Flory Lattice Cluster Graph Generator </h1>
	</div>
	<div class = "introduction">
		<div class="row">
		<h2> About </h2>
		</div>
		<div class = "row">
		<p>
The primary computational tool for prediction of structural, thermodynamic, and dynamic properties of functional polymers and block polymers must rely on a coarse-grained modeling approach capable of describing the structure and dynamics of soft matter, including block polymers during solvent mediated assembly, both in the bulk and in films.
 
The tools included here, in order of increasing complexity and sophistication, are:</p>
		<ul>
				<li>Flory Huggins polymer mixture phase behavior</li>
				<li>Vorn-Overbeek polyelectrolyte mixture phase behavior</li>
				<li>Generalized-Flory Lattice Cluster Theory for structure polymer phase behavior and glass transition temperature</li>
		</ul>
	
</p>
		</div>
	</div>
	<br>
	<br>
	<form action="/slctplot" method="post">
		<div class="row">
			<div class="large-6 columns">
				<label>Species A
						<!--
					<select name="polya1">
						<option value="PH1">poly(hexene-1)</option>
						<option value="PEP">poly(ethylene propylene)</option>
						<option value="PIB">poly(isobutylene)</option>
					</select>
					--!>
				</label>
					<div class="cc-selector">
						<input id="visa" type="radio" name="polya" value="PH1" />
						<label class="drinkcard-cc visa" for="visa"></label>

						<input id="mastercard" type="radio" name="polya" value="PEP" />
						<label class="drinkcard-cc mastercard"for="mastercard"></label>

						<input id="pib" type="radio" name="polya" value="PIB" />
        				<label class="drinkcard-cc pib"for="pib"></label>

						<input id="p_a" type="radio" name="polya" value="PA" />
						<label class="drinkcard-cc p_a" for="p_a"></label>

						<input id="p_b" type="radio" name="polya" value="PB" />
						<label class="drinkcard-cc p_b" for="p_b"></label>

						<input id="p_q" type="radio" name="polya" value="PQ" />
						<label class="drinkcard-cc p_q" for="p_q"></label>

						<input id="p_u" type="radio" name="polya" value="PU" />
						<label class="drinkcard-cc p_u" for="p_u"></label>

						<input id="p_r" type="radio" name="polya" value="PR" />
						<label class="drinkcard-cc p_r" for="p_r"></label>

						<input id="p_s" type="radio" name="polya" value="PS" />
						<label class="drinkcard-cc p_s" for="p_s"></label>

					</div>
			</div>
			<div class="large-6 columns">
				<label>Species B
						<!--
					<select name="polyb">
						<option value="PH1">poly(hexene-1)</option>
						<option value="PEP">poly(ethylene propylene)</option>
						<option value="PIB">poly(isobutylene)</option>
					</select>
					--!>
				</label>
					<div class="cc-selector1">
						<input id="visa1" type="radio" name="polyb" value="PH1" />
						<label class="drinkcard-cc visa" for="visa1"></label>

						<input id="mastercard1" type="radio" name="polyb" value="PEP" />
						<label class="drinkcard-cc mastercard"for="mastercard1"></label>

						<input id="pib1" type="radio" name="polyb" value="PIB" />
						<label class="drinkcard-cc pib"for="pib1"></label>

						<input id="p_a1" type="radio" name="polyb" value="PA" />
						<label class="drinkcard-cc p_a" for="p_a1"></label>

						<input id="p_b1" type="radio" name="polyb" value="PB" />
						<label class="drinkcard-cc p_b" for="p_b1"></label>

						<input id="p_q1" type="radio" name="polyb" value="PQ" />
						<label class="drinkcard-cc p_q" for="p_q1"></label>

						<input id="p_u1" type="radio" name="polyb" value="PU" />
						<label class="drinkcard-cc p_u" for="p_u1"></label>

						<input id="p_r1" type="radio" name="polyb" value="PR" />
						<label class="drinkcard-cc p_r" for="p_r1"></label>

						<input id="p_s1" type="radio" name="polyb" value="PS" />
						<label class="drinkcard-cc p_s" for="p_s1"></label>



					</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<label>Monomers of Species A
						<input type="text" name="NFA" placeholder="100" />
				</label>
			</div>
			<div class="large-6 columns">
				<label>Monomers of Species B
						<input type="text" name="NFB" placeholder="100" />
				</label>
			</div>
		</div>
		<div class="row">
			<div align="center">
				<input class="button" type="submit" value="Generate!" />
			</div>
		</div>
	</form>
	

{% endblock %}
